a.nav-link {
    color: #c0c1c2;
}
nav.navbar.navbar-expand-lg {
    background-color: #484848;
}
a.nav-link {
    font-size: 18px;
}
.classic-tabs.mx-2{background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
                    padding: 0px;
                    margin: 0px;
}

nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      border-radius:0;
      padding-top: 100px;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#191f2f;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #191f2f;
      border-bottom:5px solid #191f2f;
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #343a40;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }
  .col-xs-12 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-title {
    margin-bottom: .75rem;
    text-align: center;
}
a.btn.stretched-link {
    background-color: #272e38;
    color: whitesmoke;
}
div#nav-tabContent {
    background-color: #191f2f;
}