a.nav-link {
    color: #c0c1c2;
}
nav.navbar.navbar-expand-lg {
    background-color: #484848;
}
a.nav-link {
    font-size: 18px;
}
.classic-tabs.mx-2{background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
                    padding: 0px;
                    margin: 0px;
}
  